/* content */
.content-site {
    flex: 1 0 auto;
    max-width: 100%;
    padding: 20px 30px;
    position: relative;
    &-gray {
        background: $theme-light-gray;
    }
}
@media (max-width: 1199.98px) {
    .content-site {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 991.98px) {
    .content-site {
        padding: 16px;
    }
}

.box {
    display: none;
    &.visible {
        display: block;
    }
}

.drop {
    &-panel {
        display: none;
        z-index: 500;
    }
    &.open {
        .drop-panel {
            display: block;
        }
    }
}

.content-caption {
    display: flex;
    align-items: center;
    padding: 6px 0 20px;
    h1 {
        flex-grow: 1;
        font-size: 26px;
        line-height: 1.385;
        font-weight: bold;
        margin: 0;
    }
    &-cta {
        flex: 0 0 230px;
        max-width: 230px;
        padding-left: 20px;
        .button {
            width: 100%;
        }
    }
}
@media (max-width: 767.98px) {
    .content-caption {
        padding: 0 0 12px;
        h1 {
            font-size: 24px;
            line-height: 1.334;
        }
        &-cta {
            display: none;
        }
    }
}

.content-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 10px;
    &-tabs {
        flex: 0 0 338px;
        max-width: 338px;
        padding: 0 10px 10px 0;
    }
    &-list {
        display: flex;
        margin: 0;
        padding: 4px;
        list-style: none;
        background: $theme-quaternary;
        border-radius: 10px;
        li {
            flex: 1 1 0;
            max-width: 100%;
            a {
                display: block;
                padding: 4px;
                text-align: center;
                font-weight: 500;
                color: $theme-text-secondary;
                border-radius: 10px;
                &:hover {
                    color: $theme-text;
                }
            }
            &.active {
                a {
                    color: $theme-text;
                    background: $theme-white;
                }
            }
        }
        &-mobile {
            display: none;
        }
    }
    &-search {
        flex-grow: 1;
        padding-bottom: 10px;
        &-block {
            position: relative;
        }
        &-text {
            width: 100%;
            height: 36px;
            padding: 0 45px 0 14px;
            font-size: 14px;
            color: $theme-text;
            background: $theme-white;
            border: 1px solid $theme-quaternary;
            border-radius: 10px;
            &::placeholder {
                color: $theme-text-tertiary;
            }
        }
        &-button {
            position: absolute;
            top: 0;
            right: 0;
            width: 46px;
            height: 36px;
            border: 0;
            background: $tr;
            svg {
                display: block;
                margin: 0 auto;
                path {
                    transition: fill $d $f;
                }
            }
            &:hover {
                svg path {
                    fill: $theme-primary;
                }
            }
        }
    }
}
@media (max-width: 767.98px) {
    .content-nav {
        margin-bottom: 8px;
        &-tabs {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 0 8px;
        }
        &-list {
            &-mobile {
                display: inline;
            }
        }
        &-search {
            padding-bottom: 8px;
        }
    }
}

.more {
    position: relative;
    &-toggle {
        display: block;
        width: 24px;
        height: 24px;
        svg {
            display: block;
            margin: 0;
            path {
                transition: fill $d $f;
            }
        }
        &:hover {
            svg path {
                fill: $theme-primary;
            }
        }
    }
    &-panel {
        position: absolute;
        top: -23px;
        right: -6px;
        padding: 10px 20px;
        background: $theme-white;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14);
        border-radius: 8px;
    }
    &-item {
        display: block;
        position: relative;
        padding: 10px 0 10px 26px;
        color: $theme-text;
        &:hover {
            color: $theme-primary;
            i {
                color: $theme-primary;
            }
        }
        span {
            position: absolute;
            left: 0;
            top: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
        }
        i {
            vertical-align: top;
            color: $theme-text-tertiary;
            transition: color $d $f;
        }
    }
}
@media (max-width: 767.98px) {
    .more {
        &-panel {
            top: 0;
            right: 0;
        }
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-show {
        display: flex;
        align-items: center;
        padding: 10px 0 2px;
    }
    &-text {
        padding-right: 10px;
    }
    &-select {
        flex: 0 0 86px;
        max-width: 86px;
        padding-right: 10px;
        select {
            width: 100%;
            height: 36px;
            padding: 0 32px 0 14px;
            border-radius: 10px;
            border: 1px solid $theme-quaternary;
            background: $theme-white url('../images/select.svg') 100% 50% no-repeat;
            background-size: 28px 20px;
            appearance: none;
        }
        select::-ms-expand {
            display: none;
        }
    }
    &-nav {
        padding: 10px 0 2px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            a {
                display: block;
                min-width: 36px;
                height: 36px;
                padding: 9px 5px 7px;
                white-space: nowrap;
                color: $theme-text;
                font-size: 13px;
                line-height: 1.54;
                text-align: center;
                border-radius: 6px;
                &:hover {
                    color: $theme-primary;
                }
                &.pagination-prev,
                &.pagination-next {
                    padding: 10px 2px 10px 0;
                    font-size: 16px;
                    color: $theme-text-tertiary;
                    &:hover {
                        color: $theme-primary;
                    }
                    i {
                        vertical-align: top;
                    }
                }
            }
            &.active {
                a {
                    font-weight: 500;
                    color: $theme-white;
                    background: $theme-primary;
                }
            }
        }
    }
}
@media (max-width: 767.98px) {
    .pagination {
        justify-content: center;
        &-nav {
            flex: 0 0 100%;
            max-width: 100%;
        }
        &-list {
            justify-content: center;
        }
    }
}

.cta-mobile {
    display: none;
    height: 70px;
    &-help {
        display: block;
        position: fixed;
        z-index: 1900;
        left: 16px;
        bottom: 16px;
        padding: 7px 11px;
        font-size: 12px;
        line-height: 1.334;
        color: $theme-white;
        white-space: nowrap;
        background: $theme-primary;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14);
        border-radius: 15px;
        i {
            font-size: 16px;
            vertical-align: top;
            margin-right: 8px;
        }
        &:hover {
            color: $theme-white;
        }
    }
    &-add {
        position: fixed;
        z-index: 1900;
        right: 16px;
        bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        background: $theme-primary;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14);
        border-radius: 50%;
        i {
            vertical-align: top;
            font-size: 18px;
            color: $theme-white;
        }
    }
}
@media (max-width: 767.98px) {
    .cta-mobile {
        display: block;
    }
}

.drag-file {
    margin-bottom: 20px;
    position: relative;
    &.dragover {
        .drag-file-block {
            border-color: $theme-secondary;
            background-color: rgba(#3A66ED, 0.05);
        }
    }
    &.active {
        .drag-file-value {
            padding-top: 10px;
        }
    }
    &-input {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        outline: none;
        opacity: 0;
    }
    &-block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: 0;
        padding: 9px;
        min-height: 157px;
        border: 1px dashed $theme-text-tertiary;
        border-radius: 10px;
        transition: border-color $d $f, background-color $d $f;
        will-change: border-color, background-color;
    }
    &-content {
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 4px;
        color: $theme-text-tertiary;
    }
    &-plus {
        display: block;
        margin-bottom: 8px;
        i {
            font-size: 32px;
            vertical-align: top;
        }
    }
    &-title {
        display: block;
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        color: $theme-text-secondary;
    }
    &-subtitle {
        display: block;
        font-size: 12px;
        line-height: 1.334;
    }
    &-mobile-title {
        display: none;
        font-weight: bold;
        color: $theme-text-secondary;
    }
    &-value {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
    }
}
@media (max-width: 767.98px) {
    .drag-file {
        &-title,
        &-subtitle {
            display: none;
        }
        &-mobile-title {
            display: block;
        }
    }
}

.upload-file {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    &-template {
        display: none;
    }
    &-list {
        font-size: 0;
        line-height: 0;
        &-item {
            display: inline-block;
            vertical-align: top;
            position: relative;
            overflow: hidden;
            margin: 0 0 8px 8px;
            width: 76px;
            height: 76px;
            background: $theme-light-gray;
            border-radius: 6px;
            &-vs-image {
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                .upload-file-list-item-icon,
                .upload-file-list-item-name,
                .upload-file-list-item-size {
                    opacity: 0;
                }
            }
            &-remove {
                position: absolute;
                top: 5px;
                right: 5px;
                display: block;
                width: 16px;
                height: 16px;
                padding: 1px 0;
                text-align: center;
                font-size: 14px;
                color: $theme-white;
                background: rgba(56, 71, 79, 0.3);
                border-radius: 50%;
                &:hover {
                    color: $theme-white;
                    background-color: rgba(56, 71, 79, 0.6);
                }
                i {
                    vertical-align: top;
                }
            }
            &-icon {
                position: absolute;
                left: 9px;
                top: 12px;
                color: #B7BABF;
                font-size: 20px;
                i {
                    vertical-align: top;
                }
            }
            &-name {
                position: absolute;
                left: 10px;
                right: 5px;
                top: 39px;
                font-size: 12px;
                line-height: 1.334;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &-size {
                position: absolute;
                left: 10px;
                right: 5px;
                bottom: 3px;
                font-size: 12px;
                line-height: 1.334;
                color: $theme-text-secondary;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    &-block {
        flex: 0 0 76px;
        max-width: 76px;
        margin: 0 0 8px 8px;
        position: relative;
    }
    &-input {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        outline: none;
        opacity: 0;
    }
    &-label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 76px;
        height: 76px;
        color: $theme-text-tertiary;
        border: 1px dashed $theme-text-tertiary;
        border-radius: 6px;
        transition: color $d $f, border-color $d $f;
        will-change: color, border-color;
        &:hover {
            color: $theme-text;
            border-color: $theme-text;
        }
        i {
            font-size: 24px;
            vertical-align: top;
        }
    }
}

.quiz {
    &-question-add-new {
        margin-bottom: 20px;
    }
    &-placeholder {
        height: 350px;
        margin-bottom: 20px;
        background: #fff;
        border: 1px dashed #E5EAEC;
        border-radius: 8px;
    }
    &-question {
        &-dragg {
            cursor: grab;
            user-select: none;
        }
        &-list {}
        &-dragg {
            font-size: 14px;
            color: #C4C4C4;
            padding: 9px 10px 9px 0;
        }
        &-item {
            position: relative;
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid #E5EAEC;
            border-radius: 8px;
            background: #fff;
            .upload-attachment-big {
                margin-bottom: 0;
            }
            textarea.textarea {
                height: 246px;
            }
            .content-nav-list {
                display: inline-flex;
                li {
                    flex: 0 0 auto;
                    a {
                        padding-left: 20px;
                        padding-right: 20px;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
            &-boxes {
                &-title {
                    align-items: center;
                    padding-right: 60px;
                    display: flex;
                    font-size: 16px;
                    line-height: 1.5;
                    font-weight: 500;
                    color: $theme-text;
                    margin-bottom: 10px;
                }
            }
            &-delete {
                position: absolute;
                right: 20px;
                top: 20px;
                width: 40px;
                line-height: 1;
                height: 40px;
                padding: 12px 0;
                margin-left: 10px;
                text-align: center;
                color: var(--theme-red);
                background: rgba(243,83,94,0.05);
                border: 1px solid rgba(243,83,94,0.25);
                border-radius: 10px;
                &:hover {
                    color: var(--theme-red);
                }
            }
        }
    }
}
@media (max-width: 1199.98px) {
    .quiz {
        &-question {
            &-item {
                .content-nav-list {
                    display: flex;
                    li {
                        flex-grow: 1;
                        a {
                            padding-left: 4px;
                            padding-right: 4px;
                            i {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.custom-attachment {
    &-add-block {
        margin-bottom: 20px;
        &.open {
            .custom-attachment-add-button {
                display: none;
            }
        }
    }
    &-icon {
        text-align: center;
        width: 20px;
        height: 20px;
        display: block;
        margin: 0 auto;
        color: #A4AFB7;
        font-size: 15px;
        margin-bottom: 2px;
        svg, img {
            display: block;
            margin: 0 auto;
            path {
                fill {}
            }
        }
    }
    &-text {
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
    &-list {
        border: 1px solid rgba(164, 175, 183, 0.25);
        box-sizing: border-box;
        border-radius: 10px;
        list-style: none;
        margin: 0;
        padding: 15px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            margin-bottom: 15px;
            border-left: 1px solid rgba(164, 175, 183, 0.25);
            &:first-child {
                border-left: 0;
            }
            a {
                padding: 0 30px;
                color: #38474F;
                display: block;
            }
        }
    }
    &-add-button {
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        border: 1px solid #E5EAEC;
        margin: 0 auto;
        display: block;
        position: relative;
    }
    &-add-icon {
        width: 14px;
        height: 14px;
        display: block;
        margin: 0 auto;
        position: relative;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 2px;
            height: 100%;
            background: #a4afb7;
            transform: translate3d(-50%, -50%, 0);
        }
        &::after {
            width: 100%;
            height: 2px;
        }
    }
}
@media (max-width: 1199.98px) {
    .custom-attachment {
        &-list {
            li {
                a {
                    padding: 0 20px;
                }
            }
        }
    }
}
@media (max-width: 767.98px) {
    .custom-attachment {
        &-list {
            li {
                a {
                    padding: 0 15px;
                }
            }
        }
    }
}