.no-js {
    .panel {
        display: none;
        &-mask {
            display: none;
        }
    }
}
.panel {
    position: fixed;
    z-index: 4050;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 16px 16px;
    background: $theme-white;
    box-shadow: inset 1px 0px 0px rgba(235, 235, 235, 0.5);
    transform: translateX(101%);
    transition: transform $d*2 $f;
    will-change: transform;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background: $tr;
        border-radius: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: $theme-text-tertiary;
        border-radius: 4px;
        outline: none;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
    &::-webkit-scrollbar-corner {
        background: $tr;
    }
    &.show {
        transform: translateX(0);
    }
    &-v2 {
        width: 300px;
    }
    &-mask {
        position: fixed;
        z-index: 4000;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(#000000, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity $d*2 $f, visibility $d*2 $f;
        will-change: opacity, visibility;
    }
    &-caption {
        flex: 0 0 auto;
        max-width: 100%;
        display: flex;
        align-items: flex-start;
        margin-bottom: 18px;
    }
    &-back {
        flex: 0 0 24px;
        max-width: 24px;
        height: 28px;
        margin-top: -2px;
        margin-right: 10px;
        padding: 5px 0;
        font-size: 18px;
        color: $theme-text;
        text-align: center;
        &:hover {
            color: $theme-secondary;
        }
        i {
            vertical-align: top;
        }
    }
    &-title {
        flex-grow: 1;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
    }
    &-close {
        flex: 0 0 24px;
        max-width: 24px;
        height: 24px;
        margin-left: 10px;
        padding: 3px 0;
        font-size: 18px;
        color: $theme-text;
        text-align: center;
        opacity: 0.5;
        transition: opacity $d $f;
        &:hover {
            color: $theme-text;
            opacity: 1;
        }
        i {
            vertical-align: top;
        }
    }
    &-content {
        flex: 1 0 auto;
        max-width: 100%;
        .content-nav-search-block {
            margin-bottom: 10px;
        }
    }
    &-nav {
        flex: 0 0 auto;
        max-width: 100%;
        padding-top: 6px;
        &-button {
            padding-top: 10px;
            .button {
                width: 100%;
            }
        }
    }
    &-signed-up {
        &-add {
            margin-bottom: 10px;
            .button {
                width: 100%;
                i {
                    font-size: 16px;
                    vertical-align: top;
                }
            }
        }
        &-users {}
        &-user {
            display: flex;
            align-items: center;
            padding: 11px 0 12px;
            &-img {
                flex: 0 0 42px;
                max-width: 42px;
                padding-right: 10px;
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
            &-info {
                flex-grow: 1;
                padding-right: 10px;
            }
            &-name {
                font-weight: bold;
                margin-bottom: 3px;
            }
            &-email {
                font-size: 12px;
                line-height: 1.5;
                color: $theme-text-secondary;
            }
            &-delete {
                flex: 0 0 24px;
                max-width: 24px;
                height: 24px;
                padding: 5px 0;
                color: $theme-red;
                text-align: center;
                &:hover {
                    color: $theme-red;
                }
                i {
                    vertical-align: top;
                }
            }
            &-deleted {
                flex-shrink: 0;
                padding: 5px 10px;
                font-size: 12px;
                line-height: 1.5;
                text-align: center;
                color: $theme-red;
                background: #FEEEEF;
                border-radius: 12px;
            }
        }
    }
}
.panel-show {
    body {
        touch-action: none;
        -webkit-overflow-scrolling: none;
        overflow: hidden;
        overscroll-behavior: none;
    }
    .panel-mask {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

@media (max-width: 767.98px) {
    .panel {
        width: 100%;
        box-shadow: none;
        &-back {
            &:hover {
                color: $theme-text;
            }
        }
    }
}